{% extends 'Guest/header.html' %}
{% load static %}
{% block content %}
<html>
    <body>
        <form method="POST" id="UserReg" enctype="multipart/form-data">
            {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td>
               <label for="district">District</label>
                <select name="ddldistrict" id="ddldistrict">
                    <option value="select">
                        {% for i in district %}
                    <option value="{{i.id}}">{{i.district_name}}</option>    
                        {% endfor %}
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td>
                    Place<select name="place" id="place">
                        <option value="">...Select...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                Name<input type="text" name="txtname" value="">
                </td>
            </tr>
            <tr>
                <td>
                    Gender<input type="radio" name="gender" value="Male">Male
                    <input type="radio" name="gender" value="Female">Female
                </td>
            </tr>
            <tr>
                <td>
                Contact<input type="text" name="txtcontact" value="">
                </td>
            </tr>
            
                <tr>
                    <td>
                    Email<input type="text" name="txt_email" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                    Password<input type="password" name="txt_password" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                    Confirm Password<input type="password" name="txtcpassword" value="">
                    </td>
                </tr>
                <tr>
                    <td>Photo<input type="file" name="fileImage"  required ></td>
                </tr>
                <tr>
                    
                    <td>
                        Proof<input type="file" name="fileProof"  required ></td>
                </tr>
                <tr>
                <td align="center">
                    <input type="submit" name="Save" value="save">
                    <input type="reset" name="Cancel" value="cancel">
                </td>
            </tr>
        </table>

        </form>
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#ddldistrict").change(function () {
        var did = $(this).val();
        var ur = "{% url  'WebGuest:ajaxplace' %}";
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#place").html(data);
            },
        });
    });
</script>


{% endblock content %}







</html>