{% extends 'User/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Package Interests Reply</title>
</head>
<body>
    <a href="{% url 'WebAdmin:LoadingHomePage' %}">Home</a>
    <table align="center" cellpadding="10" border="1" width="75%" style="text-align: center;">
        <tr>
            <th colspan="8"><font size="5">Package Interests Reply</font></th>
        </tr>
        <tr>
            <th>Sl No</th>
            <th>User Name</th>
            <th>Package</th>
            <th>Message</th>
            <th>Package Interest Date</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.user_name}}</td>   
            <td>{{i.package.package_name}}</td>
            <td>{{i.packageinterest_msg}}</td>
            <td>{{i.packageinterest_date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock content %}
</html>