<html>
    <body>
        <form method="POST">
            {% csrf_token %}
        <table border=1 align="center">
        <tr>
            <td>
                Player Category
            </td>
            <td>
                <input type="text" name="txtname" value="{{editdata.pcategory_name}}">
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="submit" name="Save" value="save">
                <input type="reset" name="Cancel" value="cancel">
            </td>
        </tr>
        </table>
        </form>
        <hr>
        <table border="1" align="center" cellpadding="1">
            <tr>
                <th>Sl.No</th>
                <th>Player Category</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.pcategory_name}}</td>
                <td><a href="{% url 'WebTest:delPCategory' i.id %}">Delete</a> <a href="{% url 'WebTest:updatePCategory' i.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>