<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CR Installation Requests</title>
</head>
<body>
    <a href="{% url 'WebAdmin:LoadingHomePage' %}">Home</a>
    <table align="center" cellpadding="14" border="1" width="75%" style="text-align: center;">
        <tr>
            <th colspan="8"><font size="5">Installation Requests</font></th>
        </tr>
        <tr>
            <th>Sl No</th>
            <th>User</th>
            <th>Contact number</th>
            <th>Location</th>
            <th>Type</th>
            <th>Panel Brand</th>
            <th>Battery Brand</th>
            <th>Inverter Brand</th>
            <th>Power</th>
            <th>Amount</th>
            <th>Assigned Date</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.user_name}}</td>
            <td>{{i.user.user_contact}}</td> 
            <td>{{ i.user.place_name.place_name }}</td>
            <td>{{i.customisedrequests.category.category_name}}</td>
            <td>{{i.customisedrequests.panel.panelbrand_name}}</td>
            <td>{{i.customisedrequests.battery.batterybrand_name}}</td>
            <td>{{i.customisedrequests.inverter.inverterbrand_name}}</td> 
            <td>{{i.customisedrequests.system}}</td> 
            <td>{{i.customisedrequests.cramount}}</td> 
            <td>{{i.crassign_date}}</td> 
            <td><a href="{% url 'Sp:CRInstallstatus' i.id %}">Installation Completed</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>