{% extends 'Admin/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installed Status-CR</title>
</head>
<body>
    <a href="{% url 'WebAdmin:LoadingHomePage' %}">Home</a>
    <table align="center" cellpadding="10" border="1" width="75%" style="text-align: center;">
        <tr>
            <th colspan="10"><font size="5">Installed Status</font></th>
        </tr>
        <tr>
            <th>Sl No</th>
            <th>User Name</th>
            <th>User Contact</th>
            <th>User Location</th>
            <th>System Type</th>
            <th>Package Amount</th>
            <th>Service Provider</th>
            <th>Service Provider Contact</th>
            <th>Service Provider Location</th>
            <th>Status</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.user_name}}</td> 
            <td>{{i.user.user_contact}}</td>  
            <td>{{ i.user.place_name.place_name }}</td> 
            <td>{{i.customisedrequests.category.category_name}}</td>
            <td>{{i.customisedrequests.cramount}}</td> 
            <td>{{i.sp.sp_name}}</td>
            <td>{{i.sp.sp_contact}}</td>
            <td>{{i.sp.place_name.place_name}}</td>
            <td>System Installed</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock content %}
</html>