{% extends 'Admin/header.html' %}
{% load static %}
{% block content %}
<html>
    <body>
        <form method="POST">
            {% csrf_token %}
            <table border="1" align="center">
                <tr>
                    <td>
                        Panel Brand
                    </td>
                    <td>
                        <input type="text" name="txtpbrand" value="{{editdata.panelbrand_name}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Rate
                    </td>
                    <td>
                        <input type="text" name="txtprate" value="{{editdata.panel_rate}}">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" name="btnsubmit" value="submit">
                        <input type="reset" name="btncancel" value="cancel">
                    </td>
                </tr>
            </table>
            <hr>
            <table border="1" align="center" cellpadding="1">
                <tr>
                    <th>Sl.No</th>
                    <th>Panel Brand</th>
                    <th>Rate</th>
                    <th>Action</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.panelbrand_name}}</td>
                    <td>{{i.panel_rate}}</td>
                    <td><a href="{% url 'WebAdmin:delpanelbrand' i.id %}">Delete</a> <a href="{% url 'WebAdmin:Panelbrandupdate' i.id %}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </body>
{% endblock content %}
</html>
