{% extends 'Admin/header.html' %}
{% load static %}
{% block content %}
<html>
    <body>
    <table border="1" align="center" cellpadding="1">
    <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Password</th>
        <th>District name</th>
        <th>Place name</th>
        <th>Action</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.user_name}}</td>
        <td>{{i.user_gender}}</td>
        <td>{{i.user_contact}}</td>
        <td>{{i.user_email}}</td>
        <td>{{i.user_password}}</td>
        <td>{{i.district_name.district_name}}</td>
        <td>{{i.place_name.place_name}}</td>
        <td><a href="{% url 'WebAdmin:delUserview' i.id %}">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
</body>
{% endblock content %}
</html>